{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "strict": "off",
    "no-console": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off"
  }
}